In [1]:
#  https://github.com/medspacy/medspacy
# python -m spacy download en_core_web_sm

In [2]:
import json
import base64
import openai
from openai import OpenAI
from dotenv import find_dotenv, load_dotenv
from uuid import uuid4
from random import randint
from utils.get_openai_api_key import get_test_key
from utils.get_postgres_connection import _conn_open
from utils.load_json import load_json
from rich.console import Console
import psycopg2

# import medspacy
# from medspacy.ner import TargetRule
# from medspacy.visualization import visualize_ent

In [3]:
import spacy
from spacy import displacy

NER = spacy.load("en_core_web_sm")

In [4]:
print("Connecting to PostgreSQL...")
conn = psycopg2.connect(
    database="postgres",
    user="postgres",
    password="postgres",
    host="localhost",
)

cur = conn.cursor()

print("Successfully connected to PostgreSQL.")

Connecting to PostgreSQL...
Successfully connected to PostgreSQL.

In [5]:
el_id = "04d7d459-e712-40bd-80e4-6b5255f2f44a"
sql = """
SELECT id, element_text 
FROM tbl_doc_elements
WHERE element_type IN ('NARRATIVETEXT', 'TITLE', 'SUBTITLE','HEADER', 'FOOTER');
;"""

cur.execute(sql)
print(f"SQL: {sql}")
print("============")
rows = cur.fetchall()
if not len(rows):
    print("empty")
for row in rows:
    # print(row)
    el_id = row[0]
    text = row[1]
    text1 = NER(text)

    for word in text1.ents:
        if word.label_ in ["ORG", "PERSON", "GPE"] and word.text not in ["OpenAI", "AI"]:
            print((word.text, word.label_))
            sql = f"""
            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('{el_id}', '{word.text}', '{word.label_}');
            ;"""
            print(sql)
            cur.execute(sql)
            conn.commit()
            print("============")

SQL:
SELECT id, element_text
FROM tbl_doc_elements
WHERE element_type IN ('NARRATIVETEXT', 'TITLE', 'SUBTITLE','HEADER', 'FOOTER');
;
============
('VOL', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('cfa69fe8-eac0-4842-b338-f0d9db7f7969', 'VOL', 'ORG');
            ;
============
('Capgemini', 'GPE')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('079c8c24-ce4a-422d-905e-a10181b8c23c', 'Capgemini', 'GPE');
            ;
============
('Foreword', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('85437da4-f0c7-4db8-ab16-7e3f661b0a67', 'Foreword', 'ORG');
            ;
============
('the World Economic Forum', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('8f9bf494-2631-4805-b95c-03a20e4a0101', 'the World Economic Forum', 'ORG');
            ;
============
('the World Economic Forum', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('8f9bf494-2631-4805-b95c-03a20e4a0101', 'the World Economic Forum', 'ORG');
            ;
============
('the World Economic Forum', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('8f9bf494-2631-4805-b95c-03a20e4a0101', 'the World Economic Forum', 'ORG');
            ;
============
('the AI Frontier: A Primer on the Evolution and Impact of AI Agents', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('b24f9c3d-0a63-44c6-a08a-1d07928106a0', 'the AI Frontier: A Primer on the Evolution and Impact of AI Agents', 'ORG');
            ;
============
('Foreword', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('263e9be2-10e2-45ee-870c-0faf273d9319', 'Foreword', 'ORG');
            ;
============
('Fernando Alvarez Chief Strategy', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('5ff29fb3-6bea-4300-9109-8fe45d999357', 'Fernando Alvarez Chief Strategy', 'PERSON');
            ;
============
('Capgemini', 'GPE')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('5ff29fb3-6bea-4300-9109-8fe45d999357', 'Capgemini', 'GPE');
            ;
============
('Jeremy Jurgens', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('da96bf64-5cfb-4cc4-859d-fbabe4d0ce57', 'Jeremy Jurgens', 'PERSON');
            ;
============
('the World Economic Forum', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('5e8db118-2abd-4958-ac05-854ad493e241', 'the World Economic Forum', 'ORG');
            ;
============
('Capgemini', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('5e8db118-2abd-4958-ac05-854ad493e241', 'Capgemini', 'PERSON');
            ;
============
('the AI Governance Alliance', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('5e8db118-2abd-4958-ac05-854ad493e241', 'the AI Governance Alliance', 'ORG');
            ;
============
('MAS', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('6b0f7fc5-37c4-4ec0-a305-9058e06ee774', 'MAS', 'ORG');
            ;
============
('Deterministic AI', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('297515e6-3cc3-4440-b7d7-8d0eb4ff6885', 'Deterministic AI', 'ORG');
            ;
============
('LMM', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('e8c095a4-8487-4ccb-a08b-4800bded2f0a', 'LMM', 'ORG');
            ;
============
('and/or audio', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('e8c095a4-8487-4ccb-a08b-4800bded2f0a', 'and/or audio', 'PERSON');
            ;
============
('the International Organization for Standardization,5 an', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('6d4d923d-9ee2-4158-94ad-80a741685d69', 'the International Organization for Standardization,5 an', 'ORG');
            ;
============
('Digital', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('d65a221e-d0d1-48ea-88e0-ff00f2d76094', 'Digital', 'ORG');
            ;
============
('LLM', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('64a72599-15eb-475e-8f52-4d3f0af0c531', 'LLM', 'ORG');
            ;
============
('LMM', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('dab66f1c-0169-41b2-8023-ffe0b3239cb6', 'LMM', 'ORG');
            ;
============
('Smart', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('37c6319e-eee8-4720-baf7-10f12574038b', 'Smart', 'ORG');
            ;
============
('Smart', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('ac45cea0-b393-4d94-a8ca-a7923834b97b', 'Smart', 'ORG');
            ;
============
('Digital', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('b6352350-7b14-4b31-b426-483a926086ce', 'Digital', 'ORG');
            ;
============
('LLM', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('a4559687-ae5b-4589-943a-3608babf83a9', 'LLM', 'ORG');
            ;
============
('LMM', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('a4559687-ae5b-4589-943a-3608babf83a9', 'LMM', 'ORG');
            ;
============
('CoT', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('34c61754-639d-44f5-ac53-e5685adb92a8', 'CoT', 'ORG');
            ;
============
('CoT', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('34c61754-639d-44f5-ac53-e5685adb92a8', 'CoT', 'ORG');
            ;
============
('personalizes entertainment', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('b4213b16-c83e-42d8-a6f5-8a65e282bbf5', 'personalizes entertainment', 'ORG');
            ;
============
('AV', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('8cfc356c-6c3b-4c71-a862-eb8ca99a16b4', 'AV', 'ORG');
            ;
============
('AV', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('8cfc356c-6c3b-4c71-a862-eb8ca99a16b4', 'AV', 'ORG');
            ;
============
('MAS', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('48f5590a-f0da-4307-89fd-baa3ef13b494', 'MAS', 'ORG');
            ;
============
('MAS', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('4b749e20-ac2e-4308-ac9d-bade2fd14aa8', 'MAS', 'ORG');
            ;
============
('MAS', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('1a7d807c-77f8-4742-8fae-45611ee9640c', 'MAS', 'ORG');
            ;
============
('MAS', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('1a7d807c-77f8-4742-8fae-45611ee9640c', 'MAS', 'ORG');
            ;
============
('AV', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('1a7d807c-77f8-4742-8fae-45611ee9640c', 'AV', 'ORG');
            ;
============
('MAS', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('62567c05-64d9-496a-8b47-30f7a98a166e', 'MAS', 'ORG');
            ;
============
('MAS', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('fa909383-97b9-4ef1-9eb6-33310455f212', 'MAS', 'ORG');
            ;
============
('MAS', 'GPE')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('c82e01fd-fe0c-45dd-876f-ea12aec82ad1', 'MAS', 'GPE');
            ;
============
('MAS', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('07517ca2-3798-4046-9d9d-02e968c5499c', 'MAS', 'ORG');
            ;
============
('MAS', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('af77f703-780a-417a-86f2-d27c1f5590ba', 'MAS', 'ORG');
            ;
============
('Software', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('a24ad70d-f956-4f70-8320-e542b33ed845', 'Software', 'ORG');
            ;
============
('Healthcare AI', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('ce77284e-fe62-4f52-a9ff-3cf9a51dfb1a', 'Healthcare AI', 'ORG');
            ;
============
('Education AI', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('888dde9b-be8f-4213-ac3c-28cacc6a9082', 'Education AI', 'ORG');
            ;
============
('happening.36', 'GPE')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('a85eabfd-46ea-4b45-9b10-4830111dc6e0', 'happening.36', 'GPE');
            ;
============
('Conclusion AI', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('dff38afb-8aa6-48eb-8f43-f0af85db1d0c', 'Conclusion AI', 'ORG');
            ;
============
('The World Economic Forum’s AI Governance Alliance Safe Systems', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('fa5b1524-fb43-4102-a586-59dec3851ba6', 'The World Economic Forum’s AI Governance Alliance Safe Systems', 'ORG');
            ;
============
('Capgemini', 'GPE')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('a3f70991-9bcb-4058-af63-cb15b7544fff', 'Capgemini', 'GPE');
            ;
============
('Benjamin Larsen Lead', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('4867f77a-26c4-49b2-9ab9-89f1e0d8f45e', 'Benjamin Larsen Lead', 'PERSON');
            ;
============
('Artificial Intelligence and', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('4867f77a-26c4-49b2-9ab9-89f1e0d8f45e', 'Artificial Intelligence and', 'ORG');
            ;
============
('Cathy Li Head', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('ced545f4-ad29-4187-8568-b7d7956fb7dd', 'Cathy Li Head', 'PERSON');
            ;
============
('Data', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('ced545f4-ad29-4187-8568-b7d7956fb7dd', 'Data', 'ORG');
            ;
============
('Metaverse', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('ced545f4-ad29-4187-8568-b7d7956fb7dd', 'Metaverse', 'PERSON');
            ;
============
('the Executive Committee', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('ced545f4-ad29-4187-8568-b7d7956fb7dd', 'the Executive Committee', 'ORG');
            ;
============
('Stephanie Teeuwen Specialist', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('2327440b-155f-4b4d-8845-37405b94ed1d', 'Stephanie Teeuwen Specialist', 'PERSON');
            ;
============
('Data Policy', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('2327440b-155f-4b4d-8845-37405b94ed1d', 'Data Policy', 'ORG');
            ;
============
('Jason DePerro AI UX Design Lead', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('b1ae44a3-338a-4237-961f-d7d77b4b455b', 'Jason DePerro AI UX Design Lead', 'PERSON');
            ;
============
('Efi Raili Safety Authority, Technology and Innovation', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('7a2fee19-69ef-42e1-83ed-87dcdaa18f03', 'Efi Raili Safety Authority, Technology and Innovation', 'ORG');
            ;
============
('Nebahat Arslan', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('89688ab8-843c-44d5-8d5c-2ae22a2a6eea', 'Nebahat Arslan', 'ORG');
            ;
============
('Group General Counsel and Partnership Officer', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('89688ab8-843c-44d5-8d5c-2ae22a2a6eea', 'Group General Counsel and Partnership Officer', 'ORG');
            ;
============
('Ricardo Baeza-Yates', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('92e0361b-6749-4cb0-b5e0-0f0de1572d26', 'Ricardo Baeza-Yates', 'ORG');
            ;
============
('Research, Institute for Experiential AI', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('92e0361b-6749-4cb0-b5e0-0f0de1572d26', 'Research, Institute for Experiential AI', 'ORG');
            ;
============
('Northeastern University', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('92e0361b-6749-4cb0-b5e0-0f0de1572d26', 'Northeastern University', 'ORG');
            ;
============
('Austin Baik Responsible AI/AI Governance', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('e4282f61-09d1-47a5-917c-51dff34a1f35', 'Austin Baik Responsible AI/AI Governance', 'PERSON');
            ;
============
('TikTok', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('e4282f61-09d1-47a5-917c-51dff34a1f35', 'TikTok', 'ORG');
            ;
============
('Amir Banifatemi Co-Founder', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('30d83b46-c18a-4c38-b65d-8f2eb411112e', 'Amir Banifatemi Co-Founder', 'PERSON');
            ;
============
('AI Commons', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('30d83b46-c18a-4c38-b65d-8f2eb411112e', 'AI Commons', 'ORG');
            ;
============
('William Bartholomew', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('dd9546aa-2a4c-4ff9-833e-c10ffb0ff025', 'William Bartholomew', 'PERSON');
            ;
============
('Microsoft', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('dd9546aa-2a4c-4ff9-833e-c10ffb0ff025', 'Microsoft', 'ORG');
            ;
============
('Pete Bernard Executive', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('8929883a-1ab8-4b4a-b2a3-2eb67879cd2e', 'Pete Bernard Executive', 'PERSON');
            ;
============
('Foundation', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('8929883a-1ab8-4b4a-b2a3-2eb67879cd2e', 'Foundation', 'ORG');
            ;
============
('Stella Biderman Executive', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('84d4939f-c467-4f89-b50b-a32be2b81044', 'Stella Biderman Executive', 'ORG');
            ;
============
('Francis Bilodeau', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('ee286b33-4eb0-49c9-9f1b-d2a8570e417f', 'Francis Bilodeau', 'PERSON');
            ;
============
('Science and Economic Development Canada', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('ee286b33-4eb0-49c9-9f1b-d2a8570e417f', 'Science and Economic Development Canada', 'ORG');
            ;
============
('Datastax', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('0a013de2-6f53-4290-a868-3a53ee303ce7', 'Datastax', 'ORG');
            ;
============
('Matt Boulos Head', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('a25725d7-5804-446e-9a89-608513a2f2fd', 'Matt Boulos Head', 'PERSON');
            ;
============
('Policy and Safety', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('a25725d7-5804-446e-9a89-608513a2f2fd', 'Policy and Safety', 'ORG');
            ;
============
('Casati Lead', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('50a1a61e-d5e2-4173-a92a-a9974395a7f7', 'Casati Lead', 'PERSON');
            ;
============
('AI Trust', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('50a1a61e-d5e2-4173-a92a-a9974395a7f7', 'AI Trust', 'ORG');
            ;
============
('Governance Lab', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('50a1a61e-d5e2-4173-a92a-a9974395a7f7', 'Governance Lab', 'PERSON');
            ;
============
('ServiceNow', 'ORG')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('50a1a61e-d5e2-4173-a92a-a9974395a7f7', 'ServiceNow', 'ORG');
            ;
============
('Kevin Chung', 'PERSON')

            INSERT INTO public.tbl_ner(
                element_id, word_text, word_label)
                VALUES ('75868a67-b492-4f2d-8ca8-c1996b13b2b4', 'Kevin Chung', 'PERSON');
            ;
============

In [6]:
cur.close()
conn.close()