In [1]:
#  https://github.com/medspacy/medspacy
# python -m spacy download en_core_web_sm

In [2]:
import json
import base64
import openai
from openai import OpenAI
from dotenv import find_dotenv, load_dotenv
from uuid import uuid4
from random import randint
from utils.get_openai_api_key import get_test_key
from utils.get_postgres_connection import _conn_open
from utils.load_json import load_json
from rich.console import Console
import psycopg2
# import medspacy
# from medspacy.ner import TargetRule
# from medspacy.visualization import visualize_ent

In [3]:
import spacy
from spacy import displacy

NER = spacy.load("en_core_web_sm")

In [4]:
print("Connecting to PostgreSQL...")
conn = psycopg2.connect(
    database="postgres",
    user="postgres",
    password="postgres",
    host="localhost",
)

cur = conn.cursor()

print("Successfully connected to PostgreSQL.")

Connecting to PostgreSQL...
Successfully connected to PostgreSQL.

In [5]:
el_id = "04d7d459-e712-40bd-80e4-6b5255f2f44a"
sql = """
SELECT id, element_text 
FROM tbl_doc_elements
WHERE element_type IN ('NARRATIVETEXT', 'TITLE', 'SUBTITLE','HEADER', 'FOOTER');
;"""

cur.execute(sql)
print(f"SQL: {sql}")
print("============")
rows = cur.fetchall()
if not len(rows):
    print("empty")
for row in rows:
    # print(row)
    el_id = row[0]
    text = row[1]
    text1 = NER(text)

    for word in text1.ents:
        print((word.text, word.label_))
        sql = f"""
        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('{el_id}', '{word.text}', '{word.label_}');
        ;"""
        print(sql)
        cur.execute(sql)
        conn.commit()
        print("============")

SQL:
SELECT id, element_text
FROM tbl_doc_elements
WHERE element_type IN ('NARRATIVETEXT', 'TITLE', 'SUBTITLE','HEADER', 'FOOTER');
;
============
('2023', 'DATE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('cfa69fe8-eac0-4842-b338-f0d9db7f7969', '2023', 'DATE');
        ;
============
('VOL', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('cfa69fe8-eac0-4842-b338-f0d9db7f7969', 'VOL', 'ORG');
        ;
============
('43', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('cfa69fe8-eac0-4842-b338-f0d9db7f7969', '43', 'CARDINAL');
        ;
============
('11', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('cfa69fe8-eac0-4842-b338-f0d9db7f7969', '11', 'CARDINAL');
        ;
============
('547–565', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('cfa69fe8-eac0-4842-b338-f0d9db7f7969', '547–565', 'CARDINAL');
        ;
============
('ARTICLE', 'MONEY')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('3853bfbe-0204-4126-a37c-508845421747', 'ARTICLE', 'MONEY');
        ;
============
('Capgemini', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('079c8c24-ce4a-422d-905e-a10181b8c23c', 'Capgemini', 'GPE');
        ;
============
('Foreword', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('85437da4-f0c7-4db8-ab16-7e3f661b0a67', 'Foreword', 'ORG');
        ;
============
('1 Definition', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('f911773c-61db-49f3-bf86-938d20d61a98', '1 Definition', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('f911773c-61db-49f3-bf86-938d20d61a98', 'AI', 'GPE');
        ;
============
('2', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('cd036c31-e5ca-49b3-a032-1bfd09b39282', '2', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('cd036c31-e5ca-49b3-a032-1bfd09b39282', 'AI', 'GPE');
        ;
============
('2.1', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('561def10-f3aa-4da1-b3b2-969de80c0bc4', '2.1', 'CARDINAL');
        ;
============
('2.2', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('44443a02-b66b-40f1-a8fc-4a96ea651493', '2.2', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('44443a02-b66b-40f1-a8fc-4a96ea651493', 'AI', 'GPE');
        ;
============
('2.3', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('24c37d05-0b4b-4d79-be31-742257057cb0', '2.3', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('24c37d05-0b4b-4d79-be31-742257057cb0', 'AI', 'GPE');
        ;
============
('2.4', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('81642c28-325a-48ae-8f0e-80cbc72d9bb7', '2.4', 'CARDINAL');
        ;
============
('2.5', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('56e94811-556f-4e79-a2da-30c16534d38b', '2.5', 'CARDINAL');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('56e94811-556f-4e79-a2da-30c16534d38b', 'AI', 'ORG');
        ;
============
('3', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('b3e87b59-d7b1-4062-929e-2fb11d5ffc6a', '3', 'CARDINAL');
        ;
============
('3.1', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('9076aefd-7e31-49bf-bae3-205168a01953', '3.1', 'CARDINAL');
        ;
============
('3.2', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('28400032-f318-4a26-ac99-c7aedb1c5bfd', '3.2', 'CARDINAL');
        ;
============
('3.3', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('a448a209-04e9-41c1-8cd3-2b734cbe84ce', '3.3', 'CARDINAL');
        ;
============
('the World Economic Forum', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('8f9bf494-2631-4805-b95c-03a20e4a0101', 'the World Economic Forum', 'ORG');
        ;
============
('the World Economic Forum', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('8f9bf494-2631-4805-b95c-03a20e4a0101', 'the World Economic Forum', 'ORG');
        ;
============
('the World Economic Forum', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('8f9bf494-2631-4805-b95c-03a20e4a0101', 'the World Economic Forum', 'ORG');
        ;
============
('2024', 'DATE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('fbe35848-c3a3-42e2-9c86-369295008563', '2024', 'DATE');
        ;
============
('2', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('4c89b879-f458-41dd-a587-c4cb204db3b4', '2', 'CARDINAL');
        ;
============
('December 2024', 'DATE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('9610b316-fef0-42f2-844d-6417ec07cda1', 'December 2024', 'DATE');
        ;
============
('the AI Frontier: A Primer on the Evolution and Impact of AI Agents', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('b24f9c3d-0a63-44c6-a08a-1d07928106a0', 'the AI Frontier: A Primer on the Evolution and Impact of AI Agents', 'ORG');
        ;
============
('Foreword', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('263e9be2-10e2-45ee-870c-0faf273d9319', 'Foreword', 'ORG');
        ;
============
('Fernando Alvarez Chief Strategy', 'PERSON')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('5ff29fb3-6bea-4300-9109-8fe45d999357', 'Fernando Alvarez Chief Strategy', 'PERSON');
        ;
============
('Capgemini', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('5ff29fb3-6bea-4300-9109-8fe45d999357', 'Capgemini', 'GPE');
        ;
============
('Jeremy Jurgens', 'PERSON')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('da96bf64-5cfb-4cc4-859d-fbabe4d0ce57', 'Jeremy Jurgens', 'PERSON');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('6f252fe4-bd9a-425d-9a02-e9063e727b10', 'AI', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('6f252fe4-bd9a-425d-9a02-e9063e727b10', 'AI', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('230d67c7-af44-480b-944e-d8d28e9fe451', 'AI', 'ORG');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('872aad51-74b2-4a49-bbe7-d4a811f89bea', 'AI', 'GPE');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('0a185212-b0ff-45e3-b2c1-d793af4c99bd', 'AI', 'GPE');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('23b7dee5-9d70-4f98-a095-b1f7eeaccf04', 'AI', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('23b7dee5-9d70-4f98-a095-b1f7eeaccf04', 'AI', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('23b7dee5-9d70-4f98-a095-b1f7eeaccf04', 'AI', 'ORG');
        ;
============
('the World Economic Forum', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('5e8db118-2abd-4958-ac05-854ad493e241', 'the World Economic Forum', 'ORG');
        ;
============
('Capgemini', 'PERSON')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('5e8db118-2abd-4958-ac05-854ad493e241', 'Capgemini', 'PERSON');
        ;
============
('the AI Governance Alliance', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('5e8db118-2abd-4958-ac05-854ad493e241', 'the AI Governance Alliance', 'ORG');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('5e8db118-2abd-4958-ac05-854ad493e241', 'AI', 'GPE');
        ;
============
('3', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('7dfcea83-175a-4c41-8f9f-e4716f7571cc', '3', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('1a5b1402-f798-4198-b283-48354ef667f2', 'AI', 'GPE');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('188a83ae-5a10-4190-aa9f-7e647267a71e', 'AI', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('188a83ae-5a10-4190-aa9f-7e647267a71e', 'AI', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('b5de765b-7273-4a4f-8d45-c1667596f505', 'AI', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('49af382a-e815-45ef-ae84-abcba961f166', 'AI', 'ORG');
        ;
============
('MAS', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('6b0f7fc5-37c4-4ec0-a305-9058e06ee774', 'MAS', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('6b0f7fc5-37c4-4ec0-a305-9058e06ee774', 'AI', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('3c563c04-8b02-4213-a582-f6be29bce78e', 'AI', 'ORG');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('3c563c04-8b02-4213-a582-f6be29bce78e', 'AI', 'GPE');
        ;
============
('4', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('9fa29353-b8eb-4573-930b-7aff7261f229', '4', 'CARDINAL');
        ;
============
('Deterministic AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('297515e6-3cc3-4440-b7d7-8d0eb4ff6885', 'Deterministic AI', 'ORG');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('b5d513bf-5c2e-4b42-a91c-f746cbc9cf46', 'AI', 'GPE');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('b5d513bf-5c2e-4b42-a91c-f746cbc9cf46', 'AI', 'GPE');
        ;
============
('LMM', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('e8c095a4-8487-4ccb-a08b-4800bded2f0a', 'LMM', 'ORG');
        ;
============
('and/or audio', 'PERSON')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('e8c095a4-8487-4ccb-a08b-4800bded2f0a', 'and/or audio', 'PERSON');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('e8c095a4-8487-4ccb-a08b-4800bded2f0a', 'AI', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('efe0480b-5e4d-4000-834b-f0d90a64398c', 'AI', 'ORG');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('efe0480b-5e4d-4000-834b-f0d90a64398c', 'AI', 'GPE');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('efe0480b-5e4d-4000-834b-f0d90a64398c', 'AI', 'GPE');
        ;
============
('first', 'ORDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('9fbd25b2-95e7-4b55-9afd-5352ce7dbd68', 'first', 'ORDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('9fbd25b2-95e7-4b55-9afd-5352ce7dbd68', 'AI', 'GPE');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('9fbd25b2-95e7-4b55-9afd-5352ce7dbd68', 'AI', 'ORG');
        ;
============
('5', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('5c4de221-730f-4fbb-9190-8f4b5470a2a8', '5', 'CARDINAL');
        ;
============
('1', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('f7560bda-96b9-4576-9687-08ebcad342db', '1', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('4c8e57c7-1ba8-40c0-a719-d40cc8b99297', 'AI', 'GPE');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('4c8e57c7-1ba8-40c0-a719-d40cc8b99297', 'AI', 'ORG');
        ;
============
('6', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('1f928bea-19c5-4985-94e7-42efe6d8bccc', '6', 'CARDINAL');
        ;
============
('the International Organization for Standardization,5 an', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('6d4d923d-9ee2-4158-94ad-80a741685d69', 'the International Organization for Standardization,5 an', 'ORG');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('6d4d923d-9ee2-4158-94ad-80a741685d69', 'AI', 'GPE');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('08e4cf67-0ea1-4144-b2c1-a99c11783567', 'AI', 'GPE');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('089c970d-c372-49bc-b1fc-d255e9454bfd', 'AI', 'GPE');
        ;
============
('Digital', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('d65a221e-d0d1-48ea-88e0-ff00f2d76094', 'Digital', 'ORG');
        ;
============
('1', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('079d435e-c3c6-448b-bb07-e2eb355dcbc9', '1', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('d97c8293-ed1a-42dc-bb00-71941ff1ae5e', 'AI', 'GPE');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('ccfbf85f-767b-49b7-8c86-53eac38add3e', 'AI', 'GPE');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('64a72599-15eb-475e-8f52-4d3f0af0c531', 'AI', 'GPE');
        ;
============
('LLM', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('64a72599-15eb-475e-8f52-4d3f0af0c531', 'LLM', 'ORG');
        ;
============
('AI', 'ORG')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('5d1771ac-efa0-41ba-96eb-f04fc2271a0d', 'AI', 'ORG');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('0318fb6a-63b9-4668-a3b0-fbe3c469d34a', 'AI', 'GPE');
        ;
============
('7', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('50a28064-3ea6-4f80-94bb-753e7d0e992c', '7', 'CARDINAL');
        ;
============
('2', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('3f87ed6c-03da-4f36-9cc9-8ff987195dcd', '2', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('85a4a400-69d3-4196-8980-668a097cd965', 'AI', 'GPE');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('85a4a400-69d3-4196-8980-668a097cd965', 'AI', 'GPE');
        ;
============
('8', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('97e7259d-1555-461d-8462-acacd5991974', '8', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('e7165d6d-2213-4075-8373-abbc9d959901', 'AI', 'GPE');
        ;
============
('1950s,6', 'CARDINAL')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('e7165d6d-2213-4075-8373-abbc9d959901', '1950s,6', 'CARDINAL');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('e66f0b54-688b-4f3e-ab15-49bfa7de2789', 'AI', 'GPE');
        ;
============
('1990s', 'DATE')

        INSERT INTO public.tbl_ner(
            element_id, word_text, word_label)
            VALUES ('67331eb9-d4b8-45a9-9722-dd9dd051b895', '1990s', 'DATE');
        ;
============
('AI', 'GPE')

        INSERT INTO public.tbl_ner(

In [6]:
cur.close()
conn.close()