# SQLite DB

In [1]:
# !pip install sqlite3
import sqlite3

In [2]:
# create a connection to the SQLite DB
conn = sqlite3.connect("test.db")

In [4]:
# Create a cursor object to execute SQL Commands
cursor = conn.cursor()

In [5]:
# Create a table
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
"""
)

In [6]:
# Insert data into table
cursor.execute(
    "INSERT INTO employees (name, age, department) VALUES (?, ?, ?)",
    ("John Doe", 30, "Sales"),
)

In [12]:
# Retreive data

cursor.execute("SELECT * FROM employees")

In [13]:
rows = cursor.fetchall()

In [14]:
rows

[(1, 'John Doe', 30, 'Sales')]

In [15]:
conn.commit()

In [16]:
conn.close()

In [18]:
rows

[(1, 'John Doe', 30, 'Sales')]